<h1 class="mb-4">Editar País</h1>

<%- include('../partials/alerts') %>

<form
  action="/countries/edit/<%= country._id %>?_method=PUT"
  method="POST"
  class="card p-4 shadow-sm"
>

  <div class="mb-3">
    <label class="form-label">Nombre Oficial</label>

    <input
      type="text"
      name="officialName"
      class="form-control"
      value="<%= country.officialName %>"
    >
  </div>

  <div class="mb-3">
    <label class="form-label">Capital</label>

    <input
      type="text"
      name="capital"
      class="form-control"
      value="<%= country.capital.join(', ') %>"
    >
  </div>

  <div class="mb-3">
    <label class="form-label">Borders</label>

    <input
      type="text"
      name="borders"
      class="form-control"
      value="<%= country.borders.join(', ') %>"
    >
  </div>

  <div class="mb-3">
    <label class="form-label">Área</label>

    <input
      type="number"
      step="any"
      name="area"
      class="form-control"
      value="<%= country.area %>"
    >
  </div>

  <div class="mb-3">
    <label class="form-label">Población</label>

    <input
      type="number"
      name="population"
      class="form-control"
      value="<%= country.population %>"
    >
  </div>

  <div class="mb-3">
    <label class="form-label">Timezones</label>

    <input
      type="text"
      name="timezones"
      class="form-control"
      value="<%= country.timezones.join(', ') %>"
    >
  </div>

  <div class="mb-3">
    <label class="form-label">Gini</label>

    <input
      type="number"
      step="any"
      name="gini"
      class="form-control"
      value="<%= country.gini %>"
    >
  </div>

  <button class="btn btn-warning">
    Actualizar país
  </button>

</form>